@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

$font-1: 'Amatic SC';
$font-2: 'Cormorant Garamond';

// Reseting
*, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-1;
    outline: none;
    transition: all 0.3s ease-in-out;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}   


// Mixins
@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin transition-ease {
    transition: all 0.3s ease-in-out;
}