@import '_variables';

.main{
    display: grid;
    // grid-template: 40px 40px 40px 40px 40px / 40px 40px 40px 40px 40px;
    gap: 5px;

//     resize: both;
//   overflow: auto;
//   display: grid;
//   gap: 4px;
//   padding: 4px;
//   border: 1px solid grey;
//   background-color: skyblue;
//   grid-template-rows: repeat(4, 1fr);
//   grid-template-columns: repeat(2, 1fr);
// grid-template-rows: repeat(2, 1fr);
// grid-template-columns: repeat(1, 2fr) repeat(3, 1fr);

    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;

    grid-template-areas:
    'sidebar header header'
    'sidebar projects annoucement'
    'sidebar projects trending';

    

    .header{
        padding-top: 10px;
        grid-area: header;
        // grid-column-start: 3;
        // grid-column-end: 6;
        // grid-row-start: 1;
        // grid-row-end: 3;
        // min-height: 150px;
        font-size: 2rem;
        @include flexCenter;
        // background-color: blueviolet;
        // width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        .search{
            @include flexCenter;
            width: 100%;
            justify-content: space-between;
            padding: 10px 50px 0px 10px;
            .search-main{
                width: 80%;
                @include flexCenter;
                justify-content: flex-start;
                align-items: center;
                .material-icons-outlined{
                    font-size: 2rem;
                    color: aliceblue;
                    // height: 100%;
                    // padding-top: 10px;
                    padding-right: 20px;
                }
                input{
                    font-size: 30px;
                    text-align: center;
                    background-color: antiquewhite;
                    width: 70%;
                    height: 40px;
                    border: 2px solid transparent   ;
                    border-radius: 50px;
                    color: black;
                    font-weight: bolder;
                    @include transition-ease;
                    &::placeholder{
                        color: rgba(0, 0, 0, 0.9);
                        letter-spacing: 10px;
                    }
                    &:hover, &:focus{
                        border: 2px solid black;
                    }
                }
            }
            .search-notification{
                @include flexCenter;
                background-color: aquamarine;
                width: 500px;
                button{
                    padding-right: 30px;
                    @include flexCenter;
                    background-color: transparent;
                    outline: none;
                    border: 0;
                    cursor: pointer;
                    color: rgba(0, 0, 0, 0.5);
                    transition: 0.025s;
                    &:hover{
                        color: rgba(0, 0, 0, 1);
                    }
                    span{
                        font-size: 30px;
                    }
                }
            }
        }
        .profile{
            width: 100%;
            @include flexCenter;
            justify-content: space-between;
            // padding-left : 20px;
            // padding-right: 50px;
            // padding-bottom: 10px;
            padding: 40px 50px 10px 20px;
            .profile-main{
                @include flexCenter;
                flex-wrap: wrap;
                .img{
                    padding: 0 10px;
                }
                p{
                    font-size: 1.2rem;
                    line-height: 1px;
                }
            }
            .profile-buttons{
                width: 500px;
                @include flexCenter;
                justify-content: space-around;
                flex-wrap: wrap;
                button{
                    width: 120px;
                    height: 40px;
                    font-size: 20px;
                    border-radius: 50px;
                    font-weight: 700;
                    outline: none;
                    border: 2px solid transparent;
                    padding: 0 10px;
                    cursor: pointer;
                    &:hover{
                        letter-spacing: 5px;
                        background-color: rgb(33, 172, 177);
                    }
                }
            }
        }
    }

    .sidebar{
        padding-top: 50px;
        height: 100vh;
        grid-area: sidebar;
        // grid-column-start: 1;
        // grid-column-end: 3;
        // grid-row-start: 1;
        // grid-row-end: 6;
        font-size: 2rem;
        // @include flexCenter;
        // flex-direction: column;
        // justify-content: space-around;
        
        .sidebar-title{
            @include flexCenter;
            justify-content: flex-start;
            padding-left: 30px;
            font-size: 2.75rem;
            .material-icons{
                font-size: 2.5rem;
                padding-right: 10px;
            }
        }
        .nav-1, .nav-2{
            padding-top: 30px;
            @include transition-ease;
            li{
                a{
                    @include flexCenter;
                }
                span{
                    padding-right: 10px;
                    font-size: 1.8rem;
                }
                padding-top: 10px;
                @include flexCenter;
                justify-content: flex-start;
                padding-left: 30px;
                @include transition-ease;
                a:hover{
                    font-weight: 700;
                    font-size: 2.5rem;
                    letter-spacing: 5px;
                }
            }
        }
    }

    .your-projects{
        grid-area: projects;
        // grid-column: 3 / 5;
        // grid-row: 3 / 6;
    }
    
    .announcements{
        grid-area: annoucement;
        //     grid-area: 3 / 5 / 5 / 6;
        //     grid-column: 5/6;
        //     grid-row: 3/5;
        }
        .trending{
        grid-area: trending;
        // grid-column: 5/6;
        // grid-row: 5/6;
    }
}
.card{
    background-color: aqua;
}