@import '_variables';

.main{
    display: grid;
    h3{
        font-size: 1.75rem;
        padding-left: 1rem;
    }
    // grid-template: 40px 40px 40px 40px 40px / 40px 40px 40px 40px 40px;
    gap: 5px;

//     resize: both;
//   overflow: auto;
//   display: grid;
//   gap: 4px;
//   padding: 4px;
//   border: 1px solid grey;
//   background-color: skyblue;
//   grid-template-rows: repeat(4, 1fr);
//   grid-template-columns: repeat(2, 1fr);
// grid-template-rows: repeat(2, 1fr);
// grid-template-columns: repeat(1, 2fr) repeat(3, 1fr);

    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;

    grid-template-areas:
    'sidebar header header'
    'sidebar projects annoucement'
    'sidebar projects trendinga';

    

    .header{
        padding-top: 10px;
        grid-area: header;
        // grid-column-start: 3;
        // grid-column-end: 6;
        // grid-row-start: 1;
        // grid-row-end: 3;
        // min-height: 150px;
        font-size: 2rem;
        @include flexCenter;
        // background-color: blueviolet;
        // width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        .search{
            @include flexCenter;
            width: 100%;
            justify-content: space-between;
            padding: 10px 50px 0px 10px;
            .search-main{
                width: 80%;
                @include flexCenter;
                justify-content: flex-start;
                align-items: center;
                .material-icons-outlined{
                    font-size: 2rem;
                    color: aliceblue;
                    // height: 100%;
                    // padding-top: 10px;
                    padding-right: 20px;
                }
                input{
                    font-size: 30px;
                    text-align: center;
                    background-color: antiquewhite;
                    width: 70%;
                    height: 40px;
                    border: 2px solid transparent   ;
                    border-radius: 50px;
                    color: black;
                    font-weight: bolder;
                    @include transition-ease;
                    &::placeholder{
                        color: rgba(0, 0, 0, 0.9);
                        letter-spacing: 10px;
                    }
                    &:hover, &:focus{
                        border: 2px solid black;
                    }
                }
            }
            .search-notification{
                @include flexCenter;
                background-color: aquamarine;
                width: 500px;
                button{
                    padding-right: 30px;
                    @include flexCenter;
                    background-color: transparent;
                    outline: none;
                    border: 0;
                    cursor: pointer;
                    color: rgba(0, 0, 0, 0.5);
                    transition: 0.025s;
                    &:hover{
                        color: rgba(0, 0, 0, 1);
                    }
                    span{
                        font-size: 30px;
                    }
                }
            }
        }
        .profile{
            width: 100%;
            @include flexCenter;
            justify-content: space-between;
            // padding-left : 20px;
            // padding-right: 50px;
            // padding-bottom: 10px;
            padding: 40px 50px 10px 20px;
            .profile-main{
                @include flexCenter;
                flex-wrap: wrap;
                .img{
                    padding: 0 10px;
                }
                p{
                    font-size: 1.2rem;
                    line-height: 1px;
                }
            }
            .profile-buttons{
                width: 500px;
                @include flexCenter;
                justify-content: space-around;
                flex-wrap: wrap;
                button{
                    width: 120px;
                    height: 40px;
                    font-size: 20px;
                    border-radius: 50px;
                    font-weight: 700;
                    outline: none;
                    border: 2px solid transparent;
                    padding: 0 10px;
                    cursor: pointer;
                    &:hover{
                        letter-spacing: 5px;
                        background-color: rgb(33, 172, 177);
                    }
                }
            }
        }
    }

    .sidebar{
        padding-top: 50px;
        height: 100vh;
        grid-area: sidebar;
        // grid-column-start: 1;
        // grid-column-end: 3;
        // grid-row-start: 1;
        // grid-row-end: 6;
        font-size: 2rem;
        // @include flexCenter;
        // flex-direction: column;
        // justify-content: space-around;
        
        .sidebar-title{
            @include flexCenter;
            justify-content: flex-start;
            padding-left: 30px;
            font-size: 2.75rem;
            .material-icons{
                font-size: 2.5rem;
                padding-right: 10px;
            }
        }
        .nav-1, .nav-2{
            padding-top: 30px;
            @include transition-ease;
            li{
                a{
                    @include flexCenter;
                }
                span{
                    padding-right: 10px;
                    font-size: 1.8rem;
                }
                padding-top: 10px;
                @include flexCenter;
                justify-content: flex-start;
                padding-left: 30px;
                @include transition-ease;
                a:hover{
                    font-weight: 700;
                    font-size: 2.5rem;
                    letter-spacing: 5px;
                }
            }
        }
    }

    .your-projects{
        grid-area: projects;
        // grid-column: 3 / 5;
        // grid-row: 3 / 6;
        
        .card{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-auto-rows: 250px;
            gap: 2rem;
            padding: 1rem;
            
            .cards{
                background-color: white;
                border-radius: 10px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                border-left: 8px solid red;
                padding: 2rem;
                .cards-title{
                    font-weight: 700;
                    font-size: 1.4rem;
                }
                p{
                    font-size: 1.3rem;
                }
                .actions{
                    // margin-top: auto;
                    padding-top: 10px;
                    align-self: flex-end;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 1.5rem;
                    transition: 0.025s;
                    span{
                        cursor: pointer;
                        color: rgba(0, 0, 0, 0.5);
                        &:hover{
                            color: rgba(0, 0, 0, 1);
                        }
                    }
                }
            }
        }
    }
    
    .announcements{
        grid-area: annoucement;
        //     grid-area: 3 / 5 / 5 / 6;
        //     grid-column: 5/6;
            // grid-row: 3/5;
        width: 350px;
        // background-color: black;
        border-radius: 10px;
        // height: 450px;
        // margin-bottom: 50px;
        padding-top: 0;
        padding-right: 5px;
        // height: 400px;
        // background-color: black;
        h3{
            padding-left: 0;
            padding-bottom: 10px;
        }
        .anoun-card{
            margin-bottom: 0.5rem;
            padding: 1rem;
            background-color: white;
            // border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            // border-radius: 50px;
            border-radius: 20px;
            .anoun-title{
                font-size: 1.3rem;
                font-weight: 700;
            }
            .anoun-desc{
                padding-top: 5px;
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
    }
    .trending{
        grid-area: trendinga;
        max-width: 350px;
        // grid-column: 5/6;
        // grid-row: 5/6;
        padding-top: 20px;
         .card {
            padding: 1.5rem;
          }
          
          .trend {
              display: flex;
              align-items: center;
              gap: 1rem;
              cursor: pointer;
            }
            
            .trend + .trend {
                margin-top: 1.5rem;
            }
            
            .trend .picture {
                background-color: var(--accent);
                border-radius: 50%;
                width: 45px;
                height: 45px;
            }
            
            .trend .account {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                font-size: 0.9rem;
            }
            
            .trend .username {
                font-weight: 500;
                margin-bottom: 0.15rem;
                font-size: 1.2rem;
                font-weight: 700;
                letter-spacing: 2px;
            }
            .card-text{
                font-weight: 500;
                font-size: 1.1rem;
                letter-spacing: 1ddpx;
            }
          
          .trend-1 .picture {
            background-image: var(--avatar2);
          }
          
          .trend-3 .picture {
            background-image: var(--avatar3);
          }
          
          .trend-4 .picture {
            background-image: var(--avatar4);
          }
    }
}
        // .card{
        //     background-color: aqua;
        // }